{% extends "base.html" %}

{% block extrahead %}
  <meta name="keywords" content="SFTP, FTP, SCP, WebDAV, S3, Google Cloud Storage, Azure Blob, 2FA, Data At Rest Encryption, file sharing, transfer, secure, SaaS, SFTP as a service, FTP as a service, On-premise, SFTP Managed service, FTP Managed service, REST API">
  <meta name="description" content="Fully featured and highly configurable SFTP server with HTTP/S Web UI, FTP/S and WebDAV - As a Managed Service, On-premise, Cloud, Hybrid Cloud - Data at Rest Encryption, S3, Google Cloud, Azure Blob.">
  <meta property="og:title" content="SFTP & FTP as a Managed Service (SaaS) and On-premise">
  <meta property="og:url" content="https://docs.sftpgo.com">
  <meta property="og:description" content="Fully featured and highly configurable SFTP server with HTTP/S Web UI, FTP/S and WebDAV - As a Managed Service, On-premise, Cloud, Hybrid Cloud - Data at Rest Encryption, S3, Google Cloud, Azure Blob.">
  <meta property="og:image" content="https://docs.sftpgo.com/latest/assets/logo.png">
  <meta name="twitter:title" content="SFTP & FTP as a Managed Service (SaaS) and On-premise">
  <meta name="twitter:description" content="Fully featured and highly configurable SFTP server with HTTP/S Web UI, FTP/S and WebDAV - As a Managed Service, On-premise, Cloud, Hybrid Cloud - Data at Rest Encryption, S3, Google Cloud, Azure Blob.">
  <meta name="twitter:image" content="https://docs.sftpgo.com/latest/assets/logo.png">
  <meta name="twitter:card" content="summary">
{% endblock %}
